<!-- Página do banco de dados -->
<center>

	<br /><%= titulo %> <br /><br />

	<% for(i=0; i<perguntas.length; i++) { %>
		Pergunta<%= perguntas[i].id %>: <%= perguntas[i].pergunta  %>
		 - R: <%= perguntas[i].resposta %>
		 <a href="/pergunta/edit/<%= perguntas[i].id %>"> Editar </a>
		 <a href="/pergunta/delete/<%= perguntas[i].id %>"> Deletar</a>
		<br />
	<% } %>
		<br />
	<a href="/pergunta/professor">Voltar</a>

</center>