<!-- Responder questões -->

<link rel="stylesheet" href="/styles/bootstrap.css">

<center>

<br /><h1 class="titulo"><%= titulo %></h1><br />

<form action="/pergunta/resposta" method="POST"><% var a;%>
	
	<% for(var i=0; i<pergunta.length; i++) { %>
		<input type="hidden" name="id<%= pergunta[i].id %>" value="<%= pergunta[i].id %>" />

		<label id="perguntaLabelid<%= pergunta[i].id %>"><%= pergunta[i].pergunta %></label><br />
		<input type="text" name="per<%= pergunta[i].id %>" placeholder="Digite a resposta aqui..." required/><br /><br />
	<% } %>

</form>
</center>
