<!-- Responder questões -->

<link rel="stylesheet" href="/styles/bootstrap.css">

<center>
<br /><h1 class="titulo" ><%= titulo %></h1><br />
<form action="/pergunta/resposta" method="POST">
	<input type="hidden" id="resposta1" value="<%= resposta1 %>" />
	<input type="hidden" id="resposta2" value="<%= resposta2 %>" />
	<input type="hidden" id="resposta3" value="<%= resposta3 %>" />
	<input type="hidden" id="resposta4" value="<%= resposta4 %>" />
	<input type="hidden" id="resposta5" value="<%= resposta5 %>" />

	<label id="perguntaLabel1" class="txtPergunta ><%= perguntaLabel1 %></label><br />
		<input type="text" name="p1" id="p1" placeholder="Digite a resposta aqui..." /><br /><br />
	<label id="perguntaLabel2" class="txtPergunta ><%= perguntaLabel2 %></label><br />
		<input type="text" name="p2" id="p2" placeholder="Digite a resposta aqui..." /><br /><br />
	<label id="perguntaLabel3" class="txtPergunta ><%= perguntaLabel3 %></label><br />
		<input type="text" name="p3" id="p3" placeholder="Digite a resposta aqui..." /><br /><br />
	<label id="perguntaLabel4" class="txtPergunta ><%= perguntaLabel4 %></label><br />
		<input type="text" name="p4" id="p4" placeholder="Digite a resposta aqui..." /><br /><br />
	<label id="perguntaLabel5" class="txtPergunta ><%= perguntaLabel5 %></label><br />
		<input type="text" name="p5" id="p5" placeholder="Digite a resposta aqui..." /><br /><br />

	<input type="submit" class="btnSubmit" value="Responder"/>
</form>
</center>
